@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model == null)
{
    <p>No customers signed in!</p>
}
else
{
    <h2>@Model.Name</h2>
}

