@model  Vidly.ViewModels.MovieCustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers)
        {
            <tr>
                <td><a href="../Customers/Details/@customer.Id">@customer.Name</a></td>
            </tr>
        }
        
    </tbody>
</table>

