@using Vidly.Models;
@model System.Collections.Generic.List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td><a href="../Customers/Details/@customer.Id">@customer.Name</a></td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
        
    </tbody>
</table>

